
    
    
{% extends "base.html" %}

{% block content %}
<style>
     section h3 {
            color: rgb(63, 109, 63);
            font-family: "Sriracha", serif;
            font-weight: 400;
            font-style: normal;
        }
    .bg_img {
            background: url(https://media.easemytrip.com/media/Deal/DL638076662660687590/SightSeeing/SightSeeingLjCfNR.jpg) center/cover no-repeat;
            height: 600px;
           
            
        }
</style>

<body>
        <div>
            <div>
                <div class="text-start" style="margin-top: 170px; ">
                    <h1 class="text-start text-light text-fancy-shadow" style="font-family: 'Sriracha', cursive; ">Explore </h1>
                    <h1 class="text-start text-light text-fancy-shadow" style="font-family: 'Sriracha', cursive;">Beautiful World</h1>
                    <p class="text-start text-light">We don’t sell travel plans, we craft skillfully woven experiences.</p>
                </div>
            </div>
        </div>
        
    </section>
    <br>

    </section>
    <br>
    <section class="container-fluid">
        <div class="row">
            <div class="col-6 col-md-6 col-xl-3 pt-4">

                <img src="https://media.easemytrip.com/media/Deal/DL638076662660687590/SightSeeing/SightSeeingUHVKJj.jpg" alt=""
                    class="img-fluid image-top">
            </div>
            <br>
            <div class="col-6 col-md-6 col-xl-3 pt-4">

                <img src="https://media.easemytrip.com/media/Deal/DL637296801712325697/SightSeeing/SightSeeingrVj5fv.jpg" alt=""
                    class="img-fluid image-bottom" >
            </div>

            <div class="col-12 col-md-12 col-xl-6 " id="info">
                <h2>About MakeUrTrip</h2>
                <p>MakeUrTrip has designed its logo by taking inspiration from the bird popularly called as ‘Asian Paradise fly catcher’. The bird is aptly described in Indian parlance as ‘heavenly dancer’ (स्वर्गीय नर्तक) because it is known for its unique free-wheeling attributes, soaring and whirling skills and rhythmic prancing. Travonika, alike this exclusive bird, is regarded for passionate service and exciting tour operations across the world. Stimulating adaptation is done to improvise the logo design by aesthetically decorating the elongated tail and colourful plumage.
                </p>
                <p>
                   <h5><b> Our Vision</b></h5>
                   To be known as a one of the most dependable holiday planners, offering unparalleled holiday experiences to our guests, at any corner of the world. We intend to explore the unbeaten destinations to give virgin experience to our clients, in most environ friendly manner.
                </p>
                <p>
                    <h5><b> Our Mission</b></h5>
                    To be the most trusted and reliable travel partner for our clients, by providing them with the best travel experience, at the most competitive price. We are committed to provide our clients with the best possible service, and to make their travel experience as enjoyable and hassle-free as possible.
                </p>
                <button class=" btn btn-outline-success">READ MORE</button>
            </div>
        </div>
        </div>
    </section>
    <br>
    
    <br>
    <br>
    <section class="container-fluid">
        <section class="row justify-content-center">
            <div class="col-12 text-center">
                <h2>Our Team</h2>
                <h3>Management Team</h3>
            </div>
            <div class="col-12 col-md-6 col-xl-3 text-center">
                <img src="https://images.pexels.com/photos/23070734/pexels-photo-23070734/free-photo-of-close-up-of-a-yamato-figure-from-one-piece-anime.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" alt="" class="img-fluid" style="border-radius: 50%;">
                <h5>Sayali Punadikar</h5>
                <p>Managing Director</p>
            </div>
            <div class="col-12 col-md-6 col-xl-3 text-center">
                <img src="C:\Users\netshop\Desktop\Profile Pc.PNG" alt="" class="img-fluid" style="border-radius: 50%;">
                <h5>Rohini Sarphale</h5>
                <p>Operation Head</p>
                </p>
            </div>
            <div class="col-12 col-md-6 col-xl-3 text-center">
                <img src="https://images.pexels.com/photos/23070734/pexels-photo-23070734/free-photo-of-close-up-of-a-yamato-figure-from-one-piece-anime.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" alt="" class="img-fluid" style="border-radius: 50%;">
                <h5>Sanskruti Kolekar</h5>
                <p>Marketing Director</p>
            </div>
           
        </section>
    </section>

    <br>
    <section class="container-fluid py-5 " id="Order" style="background: linear-gradient(to right, #55cef0, #feb47b);">
        <div class="row justify-content-center align-items-center">

            <div class="col-6 text-center">
                <h2>Explore Your World & Experience It Live</h2>
                <p>
                    
                    "Discover the world with us and create memories that will last a lifetime." <br> "Your adventure
                    awaits! Let us take you on a journey to the most beautiful places on Earth." <br>"Where will your heart lead you? Your dream destination is calling, and you're ready to answer."
                </p>
                <h3>Book Ur Trip Now</h3>
                <button class="btn btn-outline-success">BOOK NOW</button>
            </div>

            <div class="col-6 animate-image">
                <img src="https://previews.123rf.com/images/benzoix/benzoix1808/benzoix180800014/105561658-summer-journey-travel-concept-happy-family-rides-on-plane-on-vacation-cartoon-vector-illustration.jpg"
                    class="rounded-circle" class="img-fluid" alt="" height="200px" width="250px">
            </div>
        </div>

    </section>
    <br>
    
    




</body>


{% endblock %}